!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Calculator">
	<ion-header-bar class="bar-stable">
    	<h1 class="title">Calculator</h1>
  	</ion-header-bar>

  	<ion-content ng-controller="CalculatorController as calcCtrl">
		<div class="container">
			<div class="row center-horizontally">
				<div class="col two-padding">
				  	<ion-item class="min-item-height">
				    	<span class="float-right span-font-1">{{firstNumber}} {{operation}} {{secondNumber}}</span>
				  	</ion-item>
				</div>
			</div>
          
			<div class="row center-horizontally">
				<div class="col two-padding">
					<ion-item class="item-fixed-height">
						<span class="float-right span-font-2" style="">{{result}}</span>
					</ion-item>
				</div>
			</div>

			<div class="row center-horizontally margin-bottom-0" ng-repeat="row in keyboard.rows"> 
				<div class="col border-grey" ng-repeat="key in row.keys" ng-class="{ 'equals-background' : key.type === 'equals'}">
					<button class="button button-light btn-block button-fonts" ng-click="calcCtrl.onKeyPressed(key)"
					      ng-class="{ 'not-font-size' : key.type === 'not', 'equals-background' : key.type === 'equals'}">
						<span ng-class="{ 'label-blue' : key.type !== 'digit', 'label-red' : key.type === 'clear', 'label-white': key.type === 'equals'}">
					  		<img ng-if="key.type === 'converter'" src="img/money.png" class="img-fluid img-money"> {{key.label}}
						</span> 
					</button>
				</div>
			</div>
    	</div>
	</ion-content>
</ion-view>
