!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Currency Converter">
	<ion-header-bar class="bar-stable">
		<h1 class="title">Currency Converter</h1>
	</ion-header-bar>

	<ion-content ng-controller="ConverterController as convCtrl">
		<div class="container margin-top-10">		
			<div class="row center-horizontally padding-0-5 dropdown-row-height">
				<div class="col background-color-grey" ng-class="{ 'selected-dropdown' : convCtrl.isInputNumberUpdated}">
					<div class="btn-group" uib-dropdown is-open="convCtrl.inputDropdown.isopen">
					  <button id="single-input-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle
					  	ng-click="convCtrl.toggleInputCurrencyDropDown($event)">
					    {{  convCtrl.selectedInputCurrency.name }}
					    <i class="icon dropdown-chevron" aria-hidden="true"
					    	ng-class="convCtrl.inputDropdown.isopen ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                        </button>
					  </button>
					  <ul class="dropdown-menu ul-layout" uib-dropdown-menu role="menu" aria-labelledby="single-input-button"
					      ng-class="{ 'display-block' : convCtrl.inputDropdown.isopen}">
					    <li class="li-layout" role="menuitem" 
					    	ng-repeat="rate in convCtrl.exchangeRates.rates"
					    	ng-class="{'selected': convCtrl.selectedInputCurrency == rate}">
					    	<span class="padding-0-3" ng-click="convCtrl.onInputSelectionChange(rate)">{{rate.name}}</span>
					    </li>
					  </ul>
					</div>
				</div>
			</div>

			<div class="row center-horizontally padding-0-5 number-row margin-bottom-7">
				<div class="col-9 number-col" ng-class="{ 'selected-input-number' : convCtrl.isInputNumberUpdated}">
					<span  class="float-right" ng-click="convCtrl.onInputSelectionChange(rate)">{{convCtrl.inputNumber}}</span>
				</div>
				<div class="col-3 currency-col" ng-class="{ 'selected-input-currency' : convCtrl.isInputNumberUpdated}">
					<span class="float-right">{{convCtrl.selectedInputCurrency.name}}</span>
				</div>
			</div>
			
			<div class="row center-horizontally padding-0-5 dropdown-row-height">
				<div class="col background-color-grey" ng-class="{ 'selected-dropdown' : !convCtrl.isInputNumberUpdated}">
					<div class="btn-group" uib-dropdown is-open="convCtrl.outputDropdown.isopen">
					  <button id="single-output-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle
					  	ng-click="convCtrl.toggleOutputCurrencyDropDown($event)">
					    {{  convCtrl.selectedOutputCurrency.name }}
					    <i class="icon dropdown-chevron" aria-hidden="true"
					    	ng-class="convCtrl.outputDropdown.isopen ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                        </button>
					  </button>
					  <ul class="dropdown-menu ul-layout" uib-dropdown-menu role="menu" aria-labelledby="single-output-button"
					      ng-class="{ 'display-block' : convCtrl.outputDropdown.isopen}">
					    <li class="li-layout" role="menuitem" 
					    	ng-repeat="rate in convCtrl.exchangeRates.rates"
					    	ng-class="{'selected': convCtrl.selectedOutputCurrency == rate}">
					    	<span class="padding-0-3" ng-click="convCtrl.onOutputSelectionChange(rate)">{{rate.name}}</span>
					    </li>
					  </ul>
					</div>
				</div>
			</div>

			<div class="row center-horizontally padding-0-5 number-row margin-bottom-10">
				<div class="col-9 number-col" ng-class="{ 'selected-input-number' : !convCtrl.isInputNumberUpdated}">
					<span  class="float-right" ng-click="convCtrl.onOutputSelectionChange(rate)">{{convCtrl.outputNumber}}</span>
				</div>
				<div class="col-3 currency-col" ng-class="{ 'selected-input-currency' : !convCtrl.isInputNumberUpdated}">
					<span class="float-right">{{convCtrl.selectedOutputCurrency.name}}</span>
				</div>
			</div>
			

			<div class="row center-horizontally margin-bottom-0" ng-repeat="row in keyboard.rows"> 
				<div class="col border-grey" ng-repeat="key in row.keys"
						ng-class="{ 'selected-input' : (key.type === 'arrow-up' && convCtrl.isInputNumberUpdated) ||
						(key.type === 'arrow-down' && !convCtrl.isInputNumberUpdated)}">
					<button class="button button-light btn-block button-fonts" ng-click="convCtrl.onKeyPressed(key)"
					      ng-class="{ 'not-font-size' : key.type === 'not'}">
						<span ng-class="{ 'label-blue' : key.type !== 'digit', 'label-red' : key.type === 'clear'}">
					  		<i ng-if="key.type === 'arrow-up'" aria-hidden="true" class="ion-ios-arrow-up"></i>
					  		<i ng-if="key.type === 'arrow-down'" aria-hidden="true" class="ion-ios-arrow-down"></i>
					    	{{key.label}}
						</span> 
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
